.contenedor__textarea{
    width: 20rem;
    height: 26.875rem;
    font-size: 1.25rem;
    border: none;
    resize: none;
    background-color: transparent;
    color: #BBF0DC;
    text-transform: lowercase;
    outline: none;
}
.contenedor__textarea::placeholder{
    color: #BBF0DC;
    text-shadow: 0 0 2px rgba(255,255,255,1) , 0 0 3px rgba(255,255,255,1) , 0 0 4px rgba(255,255,255,1) , 0 0 4px blue , 0 0 5px #27FA88, 0 0 6px #27FA88 , 0 0 7px #27FA88;
}
@media screen and (max-width: 934px){
    .contenedor__textarea{
        height: 12rem;
        width: 12rem;
    }
}