.footer{
    position: relative;
    margin-top: 30rem;
    display: flex;
    height: 2rem;
    justify-content: center;
    align-items: center;
    margin-top: 13rem;
    text-align: center;
    background-color: #0050F0;
    box-shadow: 0 0 5px #81F7C4 , 0 0 6px #81F7C4 , 0 0 8px #81F7C4 , 0 0 10px #81F7C4 ;
}